# 🔒 Environment file
backend/.env

# 🐍 Python cache
__pycache__/
*.pyc

# 🧠 all cache inside subfolders
backend/**/__pycache__/
backend/**/*.pyc

# 📦 Virtual environment
venv/
env/
.venv/

# 🧾 Logs
*.log

# 🗂️ OS files
.DS_Store
Thumbs.db

# 🛠️ VS Code settings 
.vscode/
